body{
    margin: 0;
    padding: 0;
    background: rgb(66, 66, 192);
}
#topo{
    position: relative;
    background: white;
    width: 100%;
    height: 70px;
    margin: 0;
}
.logo img{
    float: left;
    position: relative;
    width: 165px;
    height: 60px;
    margin-left: 2%;
    margin-top: 0.3%;
    padding: 50;
}
.usua img{
    position: relative;
    float: right;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 2%;
    margin-top: 0.3%;
}
#topo p{
    float: right;
    margin-right: 1%;
    margin-top: 2%;
    font: Normal 12pt Arial;
}
h1{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    color: white;
    font-weight: 700 !important;
}

.other{
    color: rgb(29, 26, 68);
}
#tab1{
    margin-left: 2%;
    width: 30%;
    display: inline-block;
}
#formulario{
    float: left;
    position: relative;
}
.txtf{
    color: white;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}
#projeto, #stacks, #valor, #dias, #devs{
    width: 100%;
    height: 48px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px black;
    font-size: 16px;
    border: none;
}
#botao{
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    border: none;
    background: rgb(0, 0, 53);
    color: white;
    text-transform: uppercase;
}
#botao:hover{
    background: white;
    color: rgb(0, 0, 53);
}
::-webkit-input-placeholder {
    font-size: 16px;
    margin-left: 50px;
}

td:nth-child(6n) {
    flex-direction: column;
    align-items: center;
}
#botao1,
#botao2 {
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Montserrat',
    Helvetica,
    Arial,
    sans-serif;
    border: none;
    background: rgb(0, 0, 53);
    color: white;
    display: flex;
    text-transform: uppercase;
    font-weight: 600!important;
}
#botao1 {
    padding-left: 22px;
    background: rgb(255, 189, 7);
    color: black;
}
#botao2{
    background: rgb(253, 61, 61);
    color: black;
}
#tab2{
    float: right;
    position: relative;
    margin-top: 45px;
    margin-right: 50px;
}
table{
    background: white;
    color: rgb(29, 26, 68);
    border-collapse: collapse;
}
tr, td{
    border: 2px solid rgb(66, 66, 192);
    text-align: center;
    border-collapse: collapse;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
tr p, td p{
    padding: 0px 20px;
    text-align: center;
    border-collapse: collapse;
}
.tab1, .tab2, .tab3, .tab4, .tab5{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
}
#bloco{
    width: 90%;
    border-radius: 10px;
    background: white;
    display: flex;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    margin: 10% auto;
}
.faturamento, .porcentagem, .projetos{
    margin-right: 5px;
    margin-left: 35px;
}
